@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #000000;
  --primary-color-dark: #F6F6F6;
  --secondary-color: #22D4FD;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
  --dark3: #000000;
  --dark2: #f6f6f6;
  --dark1: #fd2222;
  --text: #313a46;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span{
  color: var(--secondary-color);
}
.span_dark{
  color: var(--dark1);
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--extra-light);
  z-index: 99;
}
.nav_dark {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--text-dark);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}


nav .logo a:hover {
  color: var(--text-light);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}
.a_dark{
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color-dark);
  transition: 0.3s;
}



ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}
.a_dark:hover {
  border-top-color: var(--dark1);
  border-bottom-color: var(--dark1);
  color: var(--dark1);
}

.section {
  background-color: var(--primary-color-dark);
}

.section_dark {
  background-color: var(--text);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.subtitle_dark {
  letter-spacing: 2px;
  color: var(--dark1);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title1 {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.title {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.title_dark{
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--extra-light);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-dark);
  margin-bottom: 2rem;
}
.description_dark{
  line-height: 1.5rem;
  color: var(--primary-color-dark);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.action__btns1 {
  display: flex;
  gap: 1rem;
}

.action__btns1 button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--extra-light);
  color: #ffffff;
}
.hire__me_dark {
  background-color: var(--text-light);
  color: #ffffff;
}


.hire__me:hover {
  background-color: var(--secondary-color);
}
.hire__me_dark:hover {
  background-color: var(--dark1);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio_dark {
  color: var(--primary-color-dark);
  background-color: var(--text-dark);
}


.portfolio:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}
.portfolio_dark:hover {
  background-color: var(--dark1);
  color: #ffffff;
}


.image {
  display: grid;
  place-items: center;
}

.image1 {
  display: grid;
  place-items: center;
}

.image1 img {
  padding-top: 100px;
  padding: 10px;
  width: min(25rem, 90%);
  border-radius: 25px;
}

.image img {
  border-radius: 100%;

}

.image0{
 background: url();
}

@media (width < 750px) {
    nav .checkbox {
      display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    display: grid;
    place-items: center;
    justify-items: center;
    justify-content: center;
  }

  .action__btns {
    margin: auto;
  }
}
